@font-face {
    font-family: "Comic Sans";
    src: url(../font/comic.ttf) format("truetype");
}
@font-face {
    font-family: "Comic Sans Bold";
    src: url(../font/comicbd.ttf) format("truetype");
}
.comicSans { 
    font-family: "Comic Sans", Verdana, Tahoma;
}
.comicSansBold { 
    font-family: "Comic Sans Bold", Verdana, Tahoma;
}
